  <div id="menu">
    <ul>
      <li><%= link_to "Home", student_path(@student.id) %></li>
      <li><%= link_to "IAFS", student_all_iafs_path(@student.id) %></li>
      <li class="current_page_item"><a href="#">Resumes</a></li>
      <li><%= link_to "Profile", edit_student_path(@student.id) %></li>
      <li><a href="results.html">Results</a></li>
      <li class="last"><%= link_to "Logout", log_out_path %></li>
    </ul>
  </div>
  <div id="two-columns">
    <div id="column-list">
      <h2>Resume</h2>
      <ul class="list-style2">
        <li class="first"><%= link_to "One page technical (Resume_1)", @student.cv.url(:original, false) %></li>
        <li><%= link_to "Two page technical (Resume_1)", @student.cv.url(:original, false) %></li>
        <li><%= link_to "Three page technical (Resume_1)", @student.cv.url(:original, false) %></li>
        <li><%= link_to "One page non-technical (Resume_1)", @student.cv.url(:original, false) %></li>
        <li><%= link_to "Two page non-technical (Resume_1)", @student.cv.url(:original, false) %></li>
      </ul>
      <h2>SOP<%= link_to 'Upload SOP', upload_student_path(@student), class: 'btn btn-success float-R' %></h2>
      <ul class="list-style2 text-center">
        <li class="first"><%= link_to "SOP 1", @student.cv.url(:original, false) %></li>
        <li><%= link_to "SOP 2", @student.cv.url(:original, false) %></li>
        <li><%= link_to "SOP 3", @student.cv.url(:original, false) %></li>
        <li><%= link_to "SOP 4", @student.cv.url(:original, false) %></li>
        <li><%= link_to "SOP 5", @student.cv.url(:original, false) %></li>
      </ul>
    </div>
    <div id="column-details">
      <!-- For Student Side -->
      <h2>Resume_0 <%= link_to 'Edit', upload_student_path(@student), class: 'btn btn-file float-R' %><%= link_to "140050007-0.pdf", @student.cv.url(:original, false), class: 'float-R' %></h2>
      <ul class="list-style1">
        <% @verifications.each do |verification| %>
        <li class="bottom row">
          <div class="col-xs-9">
            <h4><%= verification.point %></h4>
            <p><strong>File for Proof : </strong><%= link_to verification.proof_file_name, verification.proof.url(:original, false) %><!-- <a href="#"><%= verification.proof_file_name %></a> -->
            <%= link_to 'View Details', student_verification_path(:id =>verification), class: 'btn btn-info btn-sm margin-left-5' %></p>
            <%= link_to 'Remove Point', student_verification_path(:id =>verification), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
          <div class="col-xs-3">Status : <button class="btn btn-secondary">Pending</button></div>
        </li>
        <% end %>
        
        <!-- <li class="bottom row">
          <div class="col-xs-9">
            <h4>Short listed for KVPY Fellowship Award conducted by IISC, Bangalore</h4>
            <p><strong>File for Proof : </strong><a href="#">someOtherFile.jpg</a></p>
          </div>
          <div class="col-xs-3">Status : <button class="btn btn-success">Validated</button></div>
        </li>
        <li class="bottom row">
          <div class="col-xs-9">
            <h4>Secured 98/100 in the finals of All India Open Mathematics Scholarship Examination (AIOMSE) conducted by Institute for Promotion of Mathematics (IPM)</h4>
            <p><strong>File for Proof : </strong><a href="#">someAnotherFile.jpg</a><button class="btn btn-info btn-sm margin-left-5">Edit</button></p>
            <button class="btn btn-danger">Remove Point</button>
          </div>
          <div class="col-xs-3">Status : <button class="btn btn-danger">Invalidated</button><br><strong>Comment : </strong>Proof shows 99/100, Please update the point</div>
        </li> -->
        <li class="row">
          <h2><%= link_to 'Add a Point', new_student_verification_path, class: "btn btn-primary btn-lg margin-left-5" %></h2>
        </li>
      </ul>
      <!-- End For Student Side -->
      <!-- For Verifier Side -->
      <h2>Resume_0 <a href="#" class="float-R">140050007-0.pdf</a></h2>
      <ul class="list-style1">
        <li class="first row">
          <div class="col-xs-9">
            <h4>City Topper in SSC Maharashtra Secondary State Board Examination</h4>
            <p><strong>File for Proof : </strong><a href="#">someFile.jpg</a></p>
            <div class="btn-group float-R" role="group" aria-label="..."><button class="btn btn-success">Validate</button><button class="btn btn-danger">Invalidate</button></div>
          </div>
          <div class="col-xs-3">Status : <button class="btn btn-secondary">Pending</button></div>
        </li>
        <li class="row">
          <div class="col-xs-9">
            <h4>Short listed for KVPY Fellowship Award conducted by IISC, Bangalore</h4>
            <p><strong>File for Proof : </strong><a href="#">someOtherFile.jpg</a><!-- <button class="btn btn-info btn-sm margin-left-5">Edit</button> --></p>
            <!-- <button class="btn btn-danger">Remove Point</button> -->
            <div class="btn-group float-R" role="group" aria-label="..."><button class="btn btn-success">Validate</button><button class="btn btn-danger">Invalidate</button></div>
          </div>
          <div class="col-xs-3">Status : <button class="btn btn-success">Validated</button></div>
        </li>
        <li class="row">
          <div class="col-xs-9">
            <h4>Secured 98/100 in the finals of All India Open Mathematics Scholarship Examination (AIOMSE) conducted by Institute for Promotion of Mathematics (IPM)</h4>
            <p><strong>File for Proof : </strong><a href="#">someAnotherFile.jpg</a></p>
            <div class="btn-group float-R" role="group" aria-label="..."><button class="btn btn-success">Validate</button><button class="btn btn-danger">Invalidate</button></div>
          </div>
          <div class="col-xs-3">Status : <button class="btn btn-danger">Invalidated</button><br><strong>Comment : </strong>Proof shows 99/100, Please update the point</div>
        </li>
      </ul>
      <h4 class="text-right"><strong>Mail To : </strong><a href="#">Neeladrishekhar Kanjilal</a></h4>
    </div>
  </div>

<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>point</th>
    <th>id</th>

  </tr>
 
  <% @verifications.each do |verification| %>
    <tr>
      <td><%= verification.point %></td>
      <td><%=verification.student_id %> </td>
      <td><%= link_to 'Show', student_verification_path(:id =>verification) %></td>
       <td><%= link_to 'Destroy', student_verification_path(:id =>verification),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>