  
      <%= form_for @student, :html => {class: 'edit_student row'} do |f| %> 
        <% if @student.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@student.errors.count, "error") %> prohibited
              this student from being saved:
            </h2>
            <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-xs-7">
          <div class="form-group input-group">
            <div class="input-group-addon">Name <strong style="color:red;">*</strong></div>
            <input type="text" class="form-control" name="student[name]" required="required" value="<%= @student.name %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Date Of Birth <strong style="color:red;">*</strong></div>
            <input type="date" class="form-control" name="student[dob]" required="required" value="<%= @student.dob %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Nationality <strong style="color:red;">*</strong></div>
            <input type="text" class="form-control" name="student[nationality]" required="required" value="<%= @student.nationality %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">IIT mail (GPO) <strong style="color:red;">*</strong></div>
            <input type="email" class="form-control" name="student[gpo_id]" required="required" value="<%= @student.gpo_id %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Alter. Email <small>Pref. Gmail</small><strong style="color:red;">*</strong></div>
            <input type="email" class="form-control" name="student[alt_email]" required="required" value="<%= @student.alt_email %>">
          </div>
        </div>
        <div class="col-xs-5">
          <div class="form-group input-group">
            <div class="input-group-addon">Hostel Addr.<small>(e.g. B-304/H-14)</small><strong style="color:red;">*</strong></div>
            <input type="text" class="form-control" name="student[hostel]" required="required" value="<%= @student.hostel %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Mobile No. <strong style="color:red;">*</strong></div>
            <input type="text" class="form-control" name="student[mobile]" required="required" value="<%= @student.mobile %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Alter. Mobile No.<strong style="color:red;">*</strong></div>
            <input type="text" class="form-control" name="student[alt_mobile]" required="required" value="<%= @student.alt_mobile %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Home Contact No.<strong style="color:red;">*</strong></div>
            <input type="text" class="form-control" name="student[home_contact]" required="required" value="<%= @student.home_contact %>">
          </div>
          <div class="form-group input-group">
            <span class="input-group-addon">Sex<strong style="color:red;">*</strong>
            <input type="radio" name="student[sex]" value="female"> Female
            <input type="radio" name="student[sex]" value="male" checked> Male </span>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group input-group">
            <div class="input-group-addon">Specialization</div>
            <input type="text" class="form-control" name="student[specialization]" value="<%= @student.specialization %>">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group input-group">
            <div class="input-group-addon">Skype ID</div>
            <input type="text" class="form-control" name="student[skype]" value="<%= @student.skype %>">
          </div>
        </div>
        <div class="col-xs-12">
          <label for="locality"><strong>Permanent address details<span style="color:red;">*</span></strong></label>
          <div class="form-group input-group">
            <div class="input-group-addon">Address</div>
            <input type="text" class="form-control" id="locality" name="student[permanent_addr]" required="required" value="<%= @student.permanent_addr %>">
          </div>
        </div>
        <div class="divider col-xs-12"></div>
        <div class="col-xs-6">
          <div class="form-group input-group">
            <div class="input-group-addon">Email</div>
            <input type="text" class="form-control" name="student[email]" value="<%= @student.email %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Password</div>
            <input type="text" class="form-control" name="student[password]">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Department</div>
            <select class="form-control" name="student[department]">
              <option value="cse">cse</option>
              <option value="elec">elec</option>
              <option value="mech">mech</option>
              <option value="meta">meta</option>
            </select>
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Batch</div>
            <input type="text" class="form-control" name="student[batch]" value="<%= @student.batch %>">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group input-group">
            <div class="input-group-addon">Roll No.</div>
            <input type="text" class="form-control" name="student[roll_no]" value="<%= @student.roll_no %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Confirm Password</div>
            <input type="text" class="form-control" name="student[password_confirmation]">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Program</div>
            <input type="text" class="form-control" name="student[program]" value="<%= @student.program %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Category</div>
            <input type="text" class="form-control" name="student[category]" value="<%= @student.category %>">
          </div>
        </div>
        <!-- <div class="col-xs-3 text-center">
          <h3>Examination</h3>
          <h4>Graduation<strong style="color:red;">*</strong></h4>
          <select class="form-control">
            <option>Intermediate/+2</option>
            <option>Diploma</option>
          </select>
          <h4 style="padding:10px;">Matriculation<strong style="color:red;">*</strong></h4>
          <h4 style="padding:10px;">Others</h4>
        </div>
        <div class="col-xs-3">
          <h3 class="text-center">University</h3>
          <h4>IIT Bombay</h4>
          <div class="form-group"><input type="text" class="form-control" value="Rajasthan Board (RBSE)"></div>
          <div class="form-group"><input type="text" class="form-control" value="Maharashtra Board (SSC)"></div>
          <div class="form-group"><input type="text" class="form-control"></div>
        </div>
        <div class="col-xs-4">
          <h3 class="text-center">Institute</h3>
          <h4>IIT Bombay</h4>
          <div class="form-group"><input type="text" class="form-control" value="Disha Delphi Global Sr. Sec. School, Kota"></div>
          <div class="form-group"><input type="text" class="form-control" value="Don Bosco High School and Jr. College, Lonavla"></div>
          <div class="form-group"><input type="text" class="form-control"></div>
        </div>
        <div class="col-xs-1" style="padding-left:4px;padding-right:4px;">
          <h3 class="text-center">Year</h3>
          <h4>2017</h4>
          <div class="form-group"><input type="text" class="form-control" value="2014"></div>
          <div class="form-group"><input type="text" class="form-control" value="2012"></div>
          <div class="form-group"><input type="text" class="form-control"></div>
        </div>
        <div class="col-xs-1" style="padding-left:4px;padding-right:4px;">
          <h3 class="text-center">CPI/%</h3>
          <h4>0.00</h4>
          <div class="form-group"><input type="text" class="form-control" value="92.00"></div>
          <div class="form-group"><input type="text" class="form-control" value="92.00"></div>
          <div class="form-group"><input type="text" class="form-control"></div>
        </div> -->
        <div class="col-xs-12">
          <%= f.submit 'Update', :class => 'btn btn-danger float-R' %>
          <!-- <input type="submit" name="edit" value="Update" class="btn btn-danger float-R"> -->
          <input type="reset" name="reset" value="Reset" class="btn btn-primary">
        </div>
<% end %>