<div id="menu">
  <ul>
    <li><%= link_to "Home", student_path(current_student.id) %></li>
    <li><%= link_to "IAFS", student_all_iafs_path(current_student.id) %></li>
    <li><%= link_to "Resumes", student_verifications_path(current_student.id) %></li>
    <li><%= link_to "Profile", edit_student_path(current_student.id) %></li>
    <li><%= link_to "Reviews", student_reviews_path(current_student.id) %></li>
    <li class="last"><%= link_to "Logout", log_out_path %></li>
  </ul>
</div>
<div id="welcome">
<h2>Listing all students</h2>
 
<table class="table table-striped">
  <tr>
    <th>name</th>
    <th>roll no</th>
    <th>department</th>
    <th colspan="4"></th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.roll_no %></td>
      <td><%= student.department %></td>
      <td><%= link_to 'Show', student_path(student) %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Upload Resume', upload_student_path(student) %></td>
      <td><%= link_to 'Destroy', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>