<!-- <h1>Edit Student</h1>
 --> 
  <div id="menu">
    <ul>
      <li><%= link_to "Home", student_path(@student.id) %></li>
      <li><%= link_to "IAFS", student_all_iafs_path(@student.id) %></li>
      <li><%= link_to "Resumes", student_verifications_path(@student.id) %></li>
      <li class="current_page_item"><a href="#">Profile</a></li>
      <li><a href="results.html">Results</a></li>
      <li class="last"><%= link_to "Logout", log_out_path %></li>
    </ul>
  </div>
  <div id="two-columns">
    <div id="col2">
      <p class="text-center"><img src="<%= image_path('Neeladri.jpg') %>" style="box-shadow: 0 7px 10px #999;" width="150px" height="150px" class="img-thumbnail" alt="Neeladrishekhar Kanjilal" /></p>
      <p class="text-center"><button class="btn btn-primary">Change Profile Pic</button></p>
        <h3 class="text-center"><div class="heading-line"></div></h3>
        <div class="personal-wrapper text-center">
          <span><strong>roll no : </strong><%= @student.roll_no %></span>
          <span><strong>program : </strong>UG Third Year (B.Tech.)</span>
          <span><strong>department : </strong><%= @student.department %></span>
          <span><strong>batch : </strong><%= @student.batch %></span>
          <span><strong>category : </strong><%= @student.category %></span>
        </div>
    </div>
    <div id="col1">  

<%= render 'form' %>


    </div>
  </div>