<%= form_for(company_information) do |f| %>
  <% if company_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_information.errors.count, "error") %> prohibited this company_information from being saved:</h2>

      <ul>
      <% company_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  

  

  

  

 
  

 
  

  

  
  


 


  

 
  


  


 

  <!-- <div class="field form-group input-group">
    <%= f.label :type, "Type <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
    <%= f.text_field :type, class: 'form-control' %>
  </div> -->

  




<div id="welcome">
    <!-- <form class="row"> -->
      <div class="col-xs-7">
        <div class="field form-group input-group">
          <%= f.label :name, "Company Name <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="form-group input-group">
          <div class="input-group-addon">Nature</div>
          <select class="form-control">
            <option value="NA">No category</option>
            <option value="analytics">analytics</option>
            <option value="consulting">consulting</option>
            <option value="core">core</option>
            <option value="engg">engg</option>
            <option value="finance">finance</option>
            <option value="FMCG">FMCG</option>
            <option value="IT">IT</option>
            <option value="others">others</option>
            <option value="public">public</option>
            <option value="r&d">r&d</option>
            <option value="services">services</option>
            <option value="software">software</option>
            <option value="tech">tech</option>
          </select>
        </div>
      </div>
      <div class="divider col-xs-12"></div>
      <div class="col-xs-7">
         <div class="field form-group input-group">
            <%= f.label :contact_person, "Contact Person <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
            <%= f.text_field :contact_person, class: 'form-control' %>
          </div>
        <div class="field form-group input-group">
          <%= f.label :designation, "Designation <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :designation, class: 'form-control' %>
        </div>
        <div class="field form-group input-group">
          <%= f.label :email, "Email <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-5">
        <div class="field form-group input-group">
          <%= f.label :contact_number, "Contact Number <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :contact_number, class: 'form-control' %>
        </div>
         <div class="field form-group input-group">
          <%= f.label :cell_number, "Cell Number <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :cell_number, class: 'form-control' %>
        </div>
        <div class="form-group input-group">
          <div class="input-group-addon">Fax No.</div>
          <input type="text" class="form-control" name="name">
        </div>
      </div>
      <div class="divider col-xs-12"></div>
      <div class="col-xs-6">
        <div class="field form-group input-group">
          <%= f.label :address_line1, "Address line 1 <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :address_line1, class: 'form-control' %>
        </div>
        <div class="field form-group input-group">
          <%= f.label :address_line2, "Address line 2 <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :address_line2, class: 'form-control' %>
        </div>
        <div class="field form-group input-group">
          <%= f.label :city, "City <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :city, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="field form-group input-group">
          <%= f.label :country, "Country <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :country, class: 'form-control' %>
        </div>
        <div class="field form-group input-group">
          <%= f.label :pin, "Pin <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :pin, class: 'form-control' %>
        </div>
        <div class="field form-group input-group">
          <%= f.label :url, "url <strong style='color:red;'>*</strong>".html_safe, class: 'input-group-addon' %>
          <%= f.text_field :url, class: 'form-control' %>
        </div>
      </div>
     <!--  <div class="col-xs-12">
        <input type="submit" name="edit" value="Register" class="btn btn-danger float-R">
        <input type="reset" name="reset" value="Reset" class="btn btn-primary">
      </div>
    </form> -->
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>