<div id="welcome">
<h1>Editing IAF </h1>
<%= form_for :iaf,url: company_information_iaf_path(@company_information,@iaf), method: :patch, :html => {class: 'row'} do |f| %>
<% if @iaf.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@iaf.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @iaf.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
        <div class="col-xs-12">
          <div class="form-group input-group">
            <div class="input-group-addon">Profile<span style="color:red;">*</span></div>
            <input type="text" class="form-control" name="iaf[profile]" required="required" value="<%= @iaf.profile %>">
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <%= f.label :intern_job_description %><br>
            <%= f.text_area :intern_job_description, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group input-group">
            <div class="input-group-addon">Place of Posting</div>
            <input type="text" class="form-control" name="iaf[place_of_posting]" value="<%= @iaf.place_of_posting %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Stipend</div>
            <input type="number" class="form-control" name="iaf[stipend]" value="<%= @iaf.stipend %>">
            <div class="input-group-addon">INR</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">CPI Cut-off</div>
            <input type="number" step="0.01" class="form-control" name="iaf[cpi_cutoff]" value="<%= @iaf.cpi_cutoff %>">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group input-group">
            <div class="input-group-addon">Opens On</div>
            <input type="date" class="form-control" name="iaf[opens_on]" value="<%= @iaf.opens_on %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">Closes On</div>
            <input type="date" class="form-control" name="iaf[closes_on]" value="<%= @iaf.closes_on %>">
          </div>
          <div class="form-group input-group">
            <div class="input-group-addon">CSE</div>
            <span class="input-group-addon"><input type="checkbox" name="iaf[cse]" value="<%= @iaf.cse %>" aria-label="..."></span>
            <div class="input-group-addon">ELEC</div>
            <span class="input-group-addon"><input type="checkbox" name="iaf[elec]" value="<%= @iaf.elec %>" aria-label="..."></span>
            <div class="input-group-addon">META</div>
            <span class="input-group-addon"><input type="checkbox" name="iaf[meta]" value="<%= @iaf.meta %>" aria-label="..."></span>
            <div class="input-group-addon">MECH</div>
            <span class="input-group-addon"><input type="checkbox" name="iaf[mech]" value="<%= @iaf.mech %>" aria-label="..."></span>
          </div>
        </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', company_information_iafs_path%>
</div>