<div id="welcome">
<h1>Listing signed students</h1>
 <br>
<!-- <h2><%= debug @list %></h2>  -->
<table class="table table-striped">
  <tr>
    <th>name</th>
    <th>roll no</th>
    <th>department</th>
    <th colspan="1"></th>
  </tr>
 
  <% @list.each(:as => :hash) do |student| %>
    <tr>
      <td><%= student['name'] %></td>
      <td><%= student['roll_no'] %></td>
      <td><%= student['department'] %></td>
      <!-- <td><%# link_to "Resume", student.cv.url(:original, false) %></td> -->
        <% temp = JSON.parse ActiveRecord::Base.connection.execute("SELECT count(*) FROM shortlists where (iaf_id = "+params[:id].to_s+" and student_id = "+student['id'].to_s+" and status > 0);").to_json; %>
        <% total = temp[0][0] %>
        <% if total > 0 %>
        <td><%= link_to('Shortlisted',{:action => 'unselect_student',:student => student['id'], :iaf => params[:id]},{class: "btn btn-success"}) %></td>
        <% else %>
        <td><%= link_to('Shortlist',{:action => 'select_student',:student => student['id'], :iaf => params[:id]}, {class: "btn btn-primary"}) %></td>
        <% end %>
    </tr>
  <% end %>
</table>
<div class="col-md-offset-3 col-md-3">
  <%= link_to('Freeze ShortList',{:action => 'freeze_shortlist',:iaf => params[:id]},{ class: "btn btn-danger"}) %>
</div>

<div class="col-md-offset-2 col-md-2">
  <%= link_to 'Back', company_information_iafs_path, class: "btn btn-primary"%>
</div>
<br><br>

</div>