<%= form_for :iaf,url: company_information_iafs_path do |f| %>
<% if @iaf.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@iaf.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @iaf.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>

<%=f.label :profile %><br>
    <%= f.text_field :profile %>
  </p>
 
  <p>
    <%= f.label :intern_job_description %><br>
    <%= f.text_area :intern_job_description %>
  </p>
<p> 
<%=f.label :place_of_posting %><br>
    <%= f.text_field :place_of_posting %>
  </p>
 
  <p>
    <%= f.label :stipend %><br>
    <%= f.number_field :stipend %>
  </p>
<p> 
<%=f.label :opens_on %><br>
    <%= f.date_field :opens_on %>
  </p>
 
  <p>
    <%= f.label :closes_on %><br>
    <%= f.date_field :closes_on %>
  </p>
<p> 
<%=f.label :cpi_cutoff %><br>
    <%= f.number_field :cpi_cutoff %>
  </p>
 
  <p>
    <%= f.label :departments %><br>
    <%= f.text_area :departments %>
  </p>
  <p>
    <%= f.label :cse %><br>
    <%= f.check_box :cse %>
  </p>
  <p>
    <%= f.label :elec %><br>
    <%= f.check_box :elec %>
  </p>
  <p>
    <%= f.label :meta %><br>
    <%= f.check_box :meta %>
  </p>
  <p>
    <%= f.label :mech %><br>
    <%= f.check_box :mech %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', company_information_iafs_path%>
